/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;

    /* debug */
    background-color: lightcoral;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* MAIN */

.grid {
    padding: 50px;
}

ul.grid li {
    /* debug */
    border: 2px solid red;
    min-width: 10px;
}
.col {
    width: calc(100%/7 - 30px/7);
    position: relative;
}


.name {
    color: white;
    background-color: grey;
    padding: 4px;
    font-size: 0.6rem;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 999;
}

/* FOOTER */

footer {
    height: 70px;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;

    /* debug */
    background-color: blueviolet;
}

.mute {
    color: white;
    text-align: center;
    width: 15%;
}

.footer-list-1 {
    display: flex;
}

.angle-up {
    display: inline-block;
}

.micro {
    text-align: center;
    color: white;
    margin-right: 15px;
}

.video {
    text-align: center;
    color: white;
}

.symbol {
    font-size: 1.5rem;
}




