/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;

    /* debug */
    background-color: lightcoral;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* MAIN */

.grid {
    padding: 50px;
}

ul.grid li {
    /* debug */
    border: 2px solid red;
    min-width: 10px;
}
.col {
    width: calc(100%/7 - 30px/7);
    position: relative;
}


.name {
    color: white;
    background-color: rgba(127, 127, 127, 0.5);
    padding: 4px;
    font-size: 0.6rem;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 999;
}

/* FOOTER */

footer {
    height: 70px;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;

    /* debug */
    background-color: blueviolet;
}

.mute {
    color: white;
    text-align: center;
    width: 15%;
}

.footer-list-1 {
    display: flex;
    padding: 10px 0;
}

.angle-up {
    color: white;
    font-size: 0.9rem;
    position: absolute;
    top: 15px;
    left: 45px;
}

.angle-up2 {
    color: white;
    font-size: 0.9rem;
    position: absolute;
    top: 15px;
    left: 150px;
}

.micro {
    font-size: 0.8rem;
    text-align: center;
    color: white;
    margin-right: 45px;
    position: relative;
    margin-left: 5px;
}

.video {
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.symbol {
    font-size: 1.5rem;
    color: white;
}

.end {
    color: red;
    font-size: 0.8rem;
    height: 70px;
    line-height: 70px;
    padding: 0 15px;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    bottom: 0;

    /* debug */
    background-color: blue;
}

.sign {
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

.menu {
    padding: 10px 0;
    position: absolute;
    left: 200px;
    display: flex;
}

.last {
    display: flex;
}

ul.last li {
    margin-right: 20px;
    text-align: center;
}





