/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --footer-color: #222222;
    --end-meeting-color: #4A4A4A;
    --share-screen-color: #4BC800;
    --buttons-color: #4A4A4A;
}

/* COMMON */

body {
    font-family: sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: black;
}

li {
    list-style-type: none;
}

a {
    color: inherit;
}

img {
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* HEADER */

.buttons {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.button-item {
    background-color: var(--buttons-color);
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.6rem;
}

/* MAIN */

.grid {
    padding: 50px;
    height: calc(100vh - 70px);
}

ul.grid li {
    /* debug */
    border: 2px solid red;
    min-width: 10px;
}
.col {
    width: calc(100%/7 - 30px/7);
    position: relative;
}


.name {
    color: white;
    background-color: rgba(127, 127, 127, 0.5);
    padding: 4px;
    font-size: 0.6rem;
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 999;
}

/* FOOTER */

footer {
    height: 70px;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    background-color: var(--footer-color)
}

.footer-items {
    display: flex;
    height: 70px;
    width: 100%;
}

.audio-video {
    width: 12%;
    display: flex;
    position: relative;
}

.audio-video-list {
    height: 70px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
}

ul.audio-video-list li {
    width: 100%;
    text-align: center;
    margin: 0 10px;
    align-items: center;
    position: relative;
}

.angle-up1 {
    position: absolute;
    top: 13px;
    left: 60px;
}

.angle-up2 {
    position: absolute;
    top: 13px;
    left: 70px;
}

.menu {
    display: flex;
    flex-grow: 1;
}

.menu-list {
    color: white;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
}

.end {
    width: 10%;
    justify-content: flex-end;
}

.explain {
    font-size: 0.8rem;
}

.symbol {
    font-size: 1.5rem;
}

.green {
    color: var(--share-screen-color);
}

.share {
    position: relative;
    margin-right: 20px;
}

.angle-up3 {
    position: absolute;
    top: 13px;
    left: 80px;
}

.end-meeting {
    height: 70px;
    text-align: center;
    color: red;
    line-height: 70px;
    justify-content: flex-end;
    background-color: var(--end-meeting-color);
}